* {
	/*border: 1px solid black;*/	
}
body {
	font-family: "Century Gothic", sans-serif;
	min-width: 700px;
	margin: auto;
	background-image: url("images/birds.jpg");
}
.header {
	background-color: #ffcc00;
	}
h1 {
	display: block;
	position: relative;
	height: 80px;
	width: 30%;
	margin: 25px 0px 10px 35%;
	padding-top: 70px;
	font-size: 3.5em;
	text-align: center;
	min-width: 355px;
}
.main {
	width: 100%;
}
.list {
	width: 24%;
	float: left;
	margin-left: 37%;
	padding-left: 1%;
	padding-right: 1%;
	background-color: #CC6699;
	border-radius: 2%;
	min-width: 300px;
	font-size: 1.3em;
	word-wrap: break-word;
}
.buttons {
	float: left;
	margin-left: 15px;
	margin-top: 10px;
}
#items_input {
	min-width: 80%;
	margin: 0 10% 0 10%;
	font-family: "Century Gothic", sans-serif;
}
.add, .remove, .clear {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	margin: 2% 0;
	background-color: #33CC99;
	cursor: pointer;
}
.buttons p {
	position: relative;
	top: 38%;
}
li, p {
	cursor: pointer;
}
.selected {
	background-color: #cc9999;
}
